<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home_style.css') }}">
        <meta charset="UTF-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    </head>
    <body>
       <div id="button-grid">
                <a class="nav-buttons" href="{{ url_for('about')}}"> <span>About</span> </a>
                <a class="nav-buttons" href="{{ url_for('tutorial') }}"> <span>Tutorial</span> </a>
                <a class="nav-buttons" href="{{ url_for('setup') }}"> <span>Setup</span> </a>
                <a class="nav-buttons" href="{{ url_for('eeg_reader')}}"> <span>EEG_Reader</span> </a>
       </div>
    </body>
</html>